<font size="+3"><strong>Preparing Mexico Data</strong></font>

In [33]:
import pandas as pd
from IPython.display import VimeoVideo

# Import

The first part of any data science project is preparing your data, which means making sure its in the right place and format for you to conduct your analysis. The first step of any data preparation is importing your raw data and cleaning it. 

If you look in the `small-data` directory on your machine, you'll see that the data for this project comes in three CSV files: `mexico-real-estate-1.csv`, `mexico-real-estate-2.csv`, and `mexico-real-estate-3.csv`.

In [34]:
VimeoVideo("656321516", h="e85e3bf248", width=600)

**Task 1.2.1:** Read these three files into three separate DataFrames named `df1`, `df2`, and `df3`, respectively.

- [What's a DataFrame?](../%40textbook/03-pandas-getting-started.ipynb#Pandas)
- [What's a CSV file?](../%40textbook/03-pandas-getting-started.ipynb#CSV-Files)
- [Read a CSV file into a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Working-with-DataFrames)

In [35]:
df1 = pd.read_csv('data/mexico-real-estate-1.csv')
df2 = pd.read_csv('data/mexico-real-estate-2.csv')
df3 = pd.read_csv('data/mexico-real-estate-3.csv')

In [36]:
import gc

In [37]:
gc.collect()

19

## Clean `df1`

Now that you have your three DataFrames, it's time to inspect them to see if they need any cleaning. Let's look at them one-by-one.

In [38]:
VimeoVideo("656320563", h="a6841fed28", width=600)

**Task 1.2.2:** Inspect `df1` by looking at its [`shape`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html) attribute. Then use the [`info`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.htm) method to see the data types and number of missing values for each column. Finally, use the [`head`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) method to determine to look at the first five rows of your dataset.

- [Inspect a DataFrame using the `shape`, `info`, and `head` in pandas.](../%40textbook/03-pandas-getting-started.ipynb#Inspecting-DataFrames)

In [39]:
print(df1.shape)
print(df1.info())
print(df1.head())

(700, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  700 non-null    object
 1   state          700 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        700 non-null    float64
 5   price_usd      700 non-null    object
dtypes: float64(3), object(3)
memory usage: 32.9+ KB
None
  property_type                            state        lat         lon  \
0         house                 Estado de México  19.560181  -99.233528
1         house                       Nuevo León  25.688436 -100.198807
2     apartment                         Guerrero  16.767704  -99.764383
3     apartment                         Guerrero  16.829782  -99.911012
4         house  Veracruz de Ignacio de la Llave        NaN         NaN

   area_m2   price_usd
0    150.0  $67,965.56
1    186.0  $63,223.78
2     82.0  $84,298.37
3    150.0  $94,308.80
4    175.0  $94,835.67

It looks like there are a couple of problems in this DataFrame that you need to solve. First, there are many rows with `NaN` values in the `"lat"` and `"lon"` columns. Second, the data type for the `"price_usd"` column is `object` when it should be `float`.

In [40]:
VimeoVideo("656316512", h="33eb5cb26e", width=600)

**Task 1.2.3:** Clean `df1` by dropping rows with `NaN` values. Then remove the `"$"` and `","` characters from `"price_usd"` and recast the values in the column as floats.

- [What's a data type?](../%40textbook/01-python-getting-started.ipynb#Data-Types)
- [Drop rows with missing values from a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Dropping-Rows)
- [Replace string characters in a column using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Replacing-String-Characters) 
- [Recast a column as a different data type in pandas.](../%40textbook/03-pandas-getting-started.ipynb#Recasting-Data)

In [41]:
df1 = df1.dropna().reset_index(drop=True) #don't need to get slice, eg df1[['lat', 'lon']]

In [42]:
# import re

# string2 = '$105,191.37'
# string2 = re.sub(r'[$$,]', '', string2)
# string2

In [43]:
# string1 = pd.Series(['$94,308.80'])
# string1 = string1.str.replace(r'\$', "", regex=True)

# string1

In [44]:
import re
# regex = r'[$],'
df1['price_usd'] = df1['price_usd'].str.replace(r'[$$,]', "", regex=True)
# df1['price_usd'] = df1['price_usd'].str.replace('$', '')
df1['price_usd'] = df1['price_usd'].astype('float')

In [45]:
print(df1.info())
print(df1['price_usd'].head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  583 non-null    object
 1   state          583 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        583 non-null    float64
 5   price_usd      583 non-null    float64
dtypes: float64(4), object(2)
memory usage: 27.5+ KB
None
0     67965.56
1     63223.78
2     84298.37
3     94308.80
4    105191.37
Name: price_usd, dtype: float64

## Clean `df2`

Now it's time to tackle `df2`. Take a moment to inspect it using the same commands you used before. You'll notice that it has the same issue of `NaN` values, but there's a new problem, too: The home prices are in Mexican pesos (`"price_mxn"`), not US dollars (`"price_usd"`). If we want to compare all the home prices in this dataset, they all need to be in the same currency.

In [46]:
VimeoVideo("656315668", h="c9bd116aca", width=600)

**Task 1.2.4:** First, drop rows with `NaN` values in `df2`. Next, use the `"price_mxn"` column to create a new column named `"price_usd"`. (Keep in mind that, when this data was collected in 2014, a dollar cost 19 pesos.) Finally, drop the `"price_mxn"` from the DataFrame.

- [Drop rows with missing values from a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Dropping-Rows)
- [Create new columns derived from existing columns in a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Adding-Columns)
- [Drop a column from a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Dropping-Columns)

In [47]:
print(df2.shape)
print(df2.info())
print(df2.head())

(700, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  700 non-null    object
 1   state          700 non-null    object
 2   lat            571 non-null    float64
 3   lon            571 non-null    float64
 4   area_m2        700 non-null    float64
 5   price_mxn      700 non-null    float64
dtypes: float64(4), object(2)
memory usage: 32.9+ KB
None
  property_type       state        lat         lon  area_m2  price_mxn
0     apartment  Nuevo León  25.721081 -100.345581     72.0  1300000.0
1     apartment      Puebla        NaN         NaN    190.0  2500000.0
2         house     Morelos  23.634501 -102.552788    360.0  5300000.0
3         house     Morelos        NaN         NaN     76.0   820000.0
4         house      Puebla        NaN         NaN    200.0  1100000.0

In [48]:
df2 = df2.dropna().reset_index(drop=True)
df2['price_usd'] = (df2['price_mxn'].astype('float') / 19).round(2)
df2 = df2.drop('price_mxn', axis='columns')
print(df2.info())
print(df2.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571 entries, 0 to 570
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  571 non-null    object
 1   state          571 non-null    object
 2   lat            571 non-null    float64
 3   lon            571 non-null    float64
 4   area_m2        571 non-null    float64
 5   price_usd      571 non-null    float64
dtypes: float64(4), object(2)
memory usage: 26.9+ KB
None
  property_type             state        lat         lon  area_m2  price_usd
0     apartment        Nuevo León  25.721081 -100.345581     72.0   68421.05
1         house           Morelos  23.634501 -102.552788    360.0  278947.37
2     apartment  Estado de México  19.272040  -99.572013     85.0   65789.47
3         house   San Luis Potosí  22.138882 -100.996510    158.0  111578.95
4     apartment  Distrito Federal  19.394558  -99.129707     65.0   39904.74

## Clean `df3`

Great work! We're now on the final DataFrame. Use the same `shape`, `info` and `head` commands to inspect the `df3`. Do you see any familiar issues? 

You'll notice that we still have `NaN` values, but there are two new problems:

1. Instead of separate `"lat"` and `"lon"` columns, there's a single `"lat-lon"` column. 
2. Instead of a `"state"` column, there's a `"place_with_parent_names"` column.

We need the resolve these problems so that `df3` has the same columns in the same format as `df1` and `df2`.

In [49]:
VimeoVideo("656314718", h="8d1127a93f", width=600)

**Task 1.2.5:** Drop rows with `NaN` values in `df3`. Then use the [`split`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html) method to create two new columns from `"lat-lon"` named `"lat"` and `"lon"`, respectively.

- [Drop rows with missing values from a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Dropping-Rows)
- [Split the strings in one column to create another using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Splitting-Strings)

In [50]:
print(df3.shape)
print(df3.info())
print(df3.head())

(700, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            700 non-null    object
 1   place_with_parent_names  700 non-null    object
 2   lat-lon                  582 non-null    object
 3   area_m2                  700 non-null    float64
 4   price_usd                700 non-null    float64
dtypes: float64(2), object(3)
memory usage: 27.5+ KB
None
  property_type                            place_with_parent_names  \
0     apartment  |México|Distrito Federal|Gustavo A. Madero|Acu...
1         house           |México|Estado de México|Toluca|Metepec|
2         house  |México|Estado de México|Toluca|Toluca de Lerd...
3         house        |México|Morelos|Temixco|Burgos Bugambilias|
4     apartment  |México|Veracruz de Ignacio de la Llave|Veracruz|

                  lat-lon  area_m2  price_usd
0     19.52589,-99.151703     71.0   48550.59
1  19.2640539,-99.5727534    233.0  168636.73
2    19.268629,-99.671722    300.0   86932.69
3                     NaN    275.0  263432.41
4    19.511938,-96.871956     84.0   68508.67

In [51]:
df3 = df3.dropna().reset_index(drop=True)
df3[['lat', 'lon']] = df3['lat-lon'].str.split(',', expand = True).astype('float')
print(df3.info())
print(df3.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            582 non-null    object
 1   place_with_parent_names  582 non-null    object
 2   lat-lon                  582 non-null    object
 3   area_m2                  582 non-null    float64
 4   price_usd                582 non-null    float64
 5   lat                      582 non-null    float64
 6   lon                      582 non-null    float64
dtypes: float64(4), object(3)
memory usage: 32.0+ KB
None
  property_type                            place_with_parent_names  \
0     apartment  |México|Distrito Federal|Gustavo A. Madero|Acu...
1         house           |México|Estado de México|Toluca|Metepec|
2         house  |México|Estado de México|Toluca|Toluca de Lerd...
3     apartment  |México|Veracruz de Ignacio de la Llave|Veracruz|
4         house                       |México|Jalisco|Guadalajara|

                  lat-lon  area_m2  price_usd        lat         lon
0     19.52589,-99.151703     71.0   48550.59  19.525890  -99.151703
1  19.2640539,-99.5727534    233.0  168636.73  19.264054  -99.572753
2    19.268629,-99.671722    300.0   86932.69  19.268629  -99.671722
3    19.511938,-96.871956     84.0   68508.67  19.511938  -96.871956
4   20.689157,-103.366728    175.0  102763.00  20.689157 -103.366728

In [52]:
VimeoVideo("656314050", h="13f6a677fd", width=600)

**Task 1.2.6:** Use the [`split`](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html) method again, this time to extract the state for every house. (Note that the state name always appears after `"México|"` in each string.) Use this information to create a `"state"` column. Finally, drop the `"place_with_parent_names"` and `"lat-lon"` columns from the DataFrame. 

- [Split the strings in one column to create another using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Splitting-Strings)
- [Drop a column from a DataFrame using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Dropping-Columns)

In [53]:
df3['state'] = df3['place_with_parent_names'].str.split("|", expand=True)[2]
print(df3.info())
print(df3.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            582 non-null    object
 1   place_with_parent_names  582 non-null    object
 2   lat-lon                  582 non-null    object
 3   area_m2                  582 non-null    float64
 4   price_usd                582 non-null    float64
 5   lat                      582 non-null    float64
 6   lon                      582 non-null    float64
 7   state                    582 non-null    object
dtypes: float64(4), object(4)
memory usage: 36.5+ KB
None
  property_type                            place_with_parent_names  \
0     apartment  |México|Distrito Federal|Gustavo A. Madero|Acu...
1         house           |México|Estado de México|Toluca|Metepec|
2         house  |México|Estado de México|Toluca|Toluca de Lerd...
3     apartment  |México|Veracruz de Ignacio de la Llave|Veracruz|
4         house                       |México|Jalisco|Guadalajara|

                  lat-lon  area_m2  price_usd        lat         lon  \
0     19.52589,-99.151703     71.0   48550.59  19.525890  -99.151703
1  19.2640539,-99.5727534    233.0  168636.73  19.264054  -99.572753
2    19.268629,-99.671722    300.0   86932.69  19.268629  -99.671722
3    19.511938,-96.871956     84.0   68508.67  19.511938  -96.871956
4   20.689157,-103.366728    175.0  102763.00  20.689157 -103.366728

                             state
0                 Distrito Federal
1                 Estado de México
2                 Estado de México
3  Veracruz de Ignacio de la Llave
4                          Jalisco

In [54]:
df3 = df3.drop(['place_with_parent_names', 'lat-lon'], axis='columns')

In [55]:
df3.head()

,property_type,area_m2,price_usd,lat,lon,state
0,apartment,71.0,48550.59,19.525890,-99.151703,Distrito Federal
1,house,233.0,168636.73,19.264054,-99.572753,Estado de México
2,house,300.0,86932.69,19.268629,-99.671722,Estado de México
3,apartment,84.0,68508.67,19.511938,-96.871956,Veracruz de Ignacio de la Llave
4,house,175.0,102763.00,20.689157,-103.366728,Jalisco

In [56]:
print(df3.shape)
print(df3.info())
print(df3.head())

(582, 6)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 582 entries, 0 to 581
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  582 non-null    object
 1   area_m2        582 non-null    float64
 2   price_usd      582 non-null    float64
 3   lat            582 non-null    float64
 4   lon            582 non-null    float64
 5   state          582 non-null    object
dtypes: float64(4), object(2)
memory usage: 27.4+ KB
None
  property_type  area_m2  price_usd        lat         lon  \
0     apartment     71.0   48550.59  19.525890  -99.151703
1         house    233.0  168636.73  19.264054  -99.572753
2         house    300.0   86932.69  19.268629  -99.671722
3     apartment     84.0   68508.67  19.511938  -96.871956
4         house    175.0  102763.00  20.689157 -103.366728

                             state
0                 Distrito Federal
1                 Estado de México
2                 Estado de México
3  Veracruz de Ignacio de la Llave
4                          Jalisco

## Concatenate DataFrames

Great work! You have three clean DataFrames, and now it's time to combine them into a single DataFrame so that you can conduct your analysis.

In [57]:
VimeoVideo("656313395", h="ccadbc2689", width=600)

**Task 1.2.7:** Use [`pd.concat`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) to concatenate `df1`, `df2`, `df3` as new DataFrame named `df`. Your new DataFrame should have 1,736 rows and 6 columns:`"property_type"`, `"state"`, `"lat"`, `"lon"`, `"area_m2"`, `"price_usd"`, and `"price_per_m2"`. 

- [Concatenate two or more DataFrames using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Concatenating-DataFrames)

In [58]:
df = pd.concat([df1, df2, df3])
print(df.shape)
df.head()

(1736, 6)

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de México  19.560181  -99.233528    150.0   67965.56
1         house        Nuevo León  25.688436 -100.198807    186.0   63223.78
2     apartment          Guerrero  16.767704  -99.764383     82.0   84298.37
3     apartment          Guerrero  16.829782  -99.911012    150.0   94308.80
4         house           Yucatán  21.052583  -89.538639    205.0  105191.37

In [59]:
df['price_per_m2'] = df['price_usd'] / df['area_m2']

In [60]:
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1736 entries, 0 to 581
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  1736 non-null   object
 1   state          1736 non-null   object
 2   lat            1736 non-null   float64
 3   lon            1736 non-null   float64
 4   area_m2        1736 non-null   float64
 5   price_usd      1736 non-null   float64
 6   price_per_m2   1736 non-null   float64
dtypes: float64(5), object(2)
memory usage: 108.5+ KB
None
  property_type             state        lat         lon  area_m2  price_usd  \
0         house  Estado de México  19.560181  -99.233528    150.0   67965.56
1         house        Nuevo León  25.688436 -100.198807    186.0   63223.78
2     apartment          Guerrero  16.767704  -99.764383     82.0   84298.37
3     apartment          Guerrero  16.829782  -99.911012    150.0   94308.80
4         house           Yucatán  21.052583  -89.538639    205.0  105191.37

   price_per_m2
0    453.103733
1    339.912796
2   1028.028902
3    628.725333
4    513.128634

In [61]:
mean_price_by_state = df.groupby('state')['price_usd'].mean().sort_values()
mean_price_by_state

state
Oaxaca                              59681.585000
Baja California                     63152.431724
Colima                              65786.646000
Tlaxcala                            72921.818333
Zacatecas                           76395.400000
Durango                             78034.511429
Tabasco                             82763.587000
Nayarit                             87378.605556
San Luis Potosí                     92435.540364
Tamaulipas                          93713.385833
Sinaloa                             93922.152308
Hidalgo                             94012.326471
Veracruz de Ignacio de la Llave     96928.125128
Chiapas                            104342.313273
Yucatán                            108580.388596
Baja California Sur                109069.339333
Aguascalientes                     110543.888000
Morelos                            112697.295625
Sonora                             114547.883333
Guerrero                           119854.276122
Puebla                             121732.974000
Campeche                           121734.633333
Estado de México                   122723.490503
Jalisco                            123386.472167
Chihuahua                          127073.852000
Quintana Roo                       128065.416053
Distrito Federal                   128347.267426
Nuevo León                         129221.985663
Guanajuato                         133277.965833
Querétaro                          133955.913281
Name: price_usd, dtype: float64

## Save `df`

The data is clean and in a single DataFrame, and now you need to save it as a CSV file so that you can examine it in your exploratory data analysis.

In [62]:
VimeoVideo("656312464", h="81ee04de15", width=600)

**Task 1.2.8:** Save `df` as a CSV file using the [`to_csv`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) method. The file path should be `"./data/mexico-real-estate-clean.csv"`. Be sure to set the `index` argument to `False`.

- [What's a CSV file?](../%40textbook/03-pandas-getting-started.ipynb#CSV-Files)
- [Save a DataFrame as a CSV file using pandas.](../%40textbook/03-pandas-getting-started.ipynb#Saving-a-DataFrame-as-a-CSV)

In [63]:
df.to_csv("./data/mexico-real-estate-clean.csv", index=False)

---
Copyright © 2022 WorldQuant University. This
content is licensed solely for personal use. Redistribution or
publication of this material is strictly prohibited.